body {
    background: rgb(197, 190, 169);
    background: linear-gradient(90deg, rgba(197, 190, 169, 1) 0%, rgba(226, 226, 226, 1) 51%, rgba(197, 190, 169, 1) 100%);
}

.selector-for-some-widget {
    box-sizing: content-box;
}

#title {
    font-family: 'Joan', serif;
}